body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.header-section{
    background-color: rgb(0, 90, 250);
    width: 100%;
  
}
.flex{
    display: flex;
}
.pathao-logo{
    margin-left: 100px;
    color: white;
    font-weight: 700;
    font-size: 25px;
    
}
.search-item{
    margin-left: 600px;
    margin-top: 50px;
}
.fast-delivary{
    padding-top: 80px;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position-x:-150px ;
    padding-bottom: 40px;
}
.fast-delivary-text{
    margin-left: 100px;
    width: 350px;
}
.fast-delivary-image{
    margin-left: 150px;
}
.text-get{
    color: rgb(241, 164, 21);
}
.button{
    background-image: linear-gradient(rgb(219, 168, 74), rgb(212, 101, 37));
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.got-a-bike{
    padding-top: 80px;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 40px;
}
#my-recipies{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 60px;
}
.recipies{
    margin-left: 100px;
    margin-right: 150px;
}
.box-shadow{
    box-shadow: 5px 5px 15px gray;
    margin-left: 70px;
    padding:10px;
    border-radius: 15px;
    width: 33%;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 80px;
}
.box-shadow-image{
    width:100%;
    border-radius: 15px;
}
#footer{
    background-color: rgb(11, 14, 23);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box-of-media{
    width: 77%;
    box-shadow: 5px 5px 11px gray;
    margin-left: 9.5%;
    margin-bottom: 70px;
    border-radius: 15px;

}
.media{
    padding-left: 150px;
}